{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-3">Dashboard</h2>
    <div class="row">
        {% for course, count in course_popularity.items %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">{{ course.title }}</h3>
                    <p class="card-text">Number of Enrollments: {{ count }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary btn-sm">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
